.Calendar {
    font-weight: bold;
    width: calc(350 / 1440 * 100vw);
    height: auto;
    border-radius: calc(15 / 1440 * 100vw);
    font-family: 'Arial', sans-serif;
    box-shadow: 0 calc(8 / 1440 * 100vw) calc(24 / 1440 * 100vw) rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: white;
    
  }
  
  .calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(10 / 1440 * 100vw);
    background-color: #B4C8BB;
    color: white;
  }
  
  .calendarButton {
    background: none;
    border: none;
    font-size: calc(40 / 1440 * 100vw);
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0;
    padding: 0 calc(20 / 1440 * 100vw);
  }
  
  .calendarButton:hover {
    transform: scale(1.2);
  }
  
  .MonthYear {
    margin-top: calc(7 / 1440 * 100vw);
    font-size: calc(25 / 1440 * 100vw);
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: calc(5 / 1440 * 100vw);
    padding: calc(15 / 1440 * 100vw);
    background-color: white;
  }
  
  .DayBase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(40 / 1440 * 100vw);
    border-radius: 25%;
    font-size: calc(14 / 1440 * 100vw);
    transition: all 0.3s ease;
  }
  
  .WeekDay {
    font-weight: bold;
    color: #3b3b3e;
  }
  
  .Day {
    background-color: var(--day-bg-color, #f6f8f6);
    color: var(--day-color, black);
    cursor: pointer;
    border: var(--day-border, none);
  }
  
  .Day:hover {
    background-color: var(--day-hover-bg-color, #B4C8BB) !important;
  }
  