.singleSubPlanBox {
  width: 95%; /* 박스 크기 설정 */
  margin: 0; /* 마진 0 */
  padding: 0; /* 패딩 0 */
}

.singleSubPlanContent {
  display: flex; /* 체크박스와 텍스트를 일렬로 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: space-between;
  border-bottom: 1px solid red; /* 빨간 밑줄 */
  padding-top: 10px;
  position: relative; /* ::before 가상 요소를 위해 추가 */
  font-size: 24px; /* 기본 폰트 크기 설정 */
}

.singleSubPlanCheckboxContainer {
  display: flex; /* 체크박스와 시간을 함께 정렬 */
  align-items: center;
}

.singleSubPlanCheckbox {
  margin-left: 10px; /* 체크박스 여백 */
  margin-right: 10px; /* 체크박스 여백 */
  width: 19px; /* 체크박스의 너비 */
  height: 19px; /* 체크박스의 높이 */
  transform: scale(1.5); /* 1.5배 크기 조절 */
}

.singleSubPlanStudyTime {
  margin-left: 8px; /* 체크박스와 시간 텍스트 사이의 간격 */
  font-size: 24px; /* 시간 텍스트 크기 */
  font-weight: normal; /* 폰트 두께 설정 */
}

.singleSubPlanContentText {
  margin: 0;
  font-size: 24px; /* 텍스트의 기본 폰트 크기 */
  font-weight: normal; /* 텍스트 두께 */
}

.singleSubButtonBox {
  display: flex;
  align-items: center;
}

.singleSubButtonCase {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleSubEditButton,
.singleSubDeleteButton {
  height: 23px; /* 버튼 아이콘 크기 */
  width: 23px; /* 버튼 아이콘 크기 */
}

/* 완료된 플랜에 대한 스타일 */
.singleSubPlanContent.completed::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; /* 텍스트 중앙에 위치 */
  height: 2px; /* 선의 두께 */
  background-color: gray; /* 선의 색상 */
  z-index: 1; /* 텍스트 위에 표시 */
}

.singleSubPlanContent.completed p,
.singleSubPlanContent.completed .singleSubPlanCheckboxContainer {
  color: gray; /* 글자색 변경 (선택 사항) */
  position: relative;
  z-index: 2; /* 선 뒤에 표시 */
}
