.singleSubPlanBox {
  width: 95%; /* 박스 크기 설정 */
  margin: 0; /* 마진 0 */
  padding: 0; /* 패딩 0 */
  overflow-y: auto; /* 세로 스크롤바 표시 */
}

.singleSubNoPlan {
  font-size: calc(16 / 1440 * 100vw); /* 기본 폰트 크기 설정 */
  text-align: center;
}

/* .singleSubPlanContent 기본 스타일 */
.singleSubPlanContent {
  display: flex; /* 체크박스와 텍스트를 일렬로 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: space-between;
  border-bottom: calc(1 / 1440 * 100vw) solid red; /* 빨간 밑줄 */
  padding-top: calc(10 / 1440 * 100vw);
  position: relative; /* ::before 가상 요소를 위해 추가 */
  font-size: calc(16 / 1440 * 100vw); /* 기본 폰트 크기 설정 */
}

.MyPlanCatSelectControl{
  width: calc(150 / 1440 * 100vw) !important;
  height: calc(35 / 1440 * 100vw) !important;
  padding: calc(6 / 1440 * 100vw) calc(12 / 1440 * 100vw) !important;
  border-radius: calc(6 / 1440 * 100vw);
}

.singleSubPlanCheckbox {
  margin-left: calc(10 / 1440 * 100vw); /* 체크박스 여백 */
  margin-right: calc(10 / 1440 * 100vw); /* 체크박스 여백 */
  width: calc(14 / 1440 * 100vw); /* 체크박스의 너비 */
  height: calc(14 / 1440 * 100vw); /* 체크박스의 높이 */
  transform: scale(1.5); /* 1.5배 크기 조절 */
}

.singleSubPlanStudyTime {
  margin-left: calc(8 / 1440 * 100vw); /* 체크박스와 시간 텍스트 사이의 간격 */
  font-size: calc(16 / 1440 * 100vw); /* 시간 텍스트 크기 */
  font-weight: normal; /* 폰트 두께 설정 */
}

.singleSubPlanContentText {
  margin: 0;
  font-size: calc(16 / 1440 * 100vw); /* 텍스트의 기본 폰트 크기 */
  font-weight: normal; /* 텍스트 두께 */
}

.singleSubButtonBox {
  display: flex;
  align-items: center;
}

.singleSubButtonCase {
  width: calc(30 / 1440 * 100vw);
  height: calc(30 / 1440 * 100vw);
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleSubEditButton,
.singleSubDeleteButton {
  height: calc(23 / 1440 * 100vw); /* 버튼 아이콘 크기 */
  width: calc(23 / 1440 * 100vw); /* 버튼 아이콘 크기 */
}

/* 완료된 플랜에 대한 스타일 */
.singleSubPlanContent.completed::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; /* 텍스트 중앙에 위치 */
  height: calc(2 / 1440 * 100vw); /* 선의 두께 */
  background-color: gray; /* 선의 색상 */
  z-index: 1; /* 텍스트 위에 표시 */
}

.singleSubPlanContent.completed p,
.singleSubPlanContent.completed .singleSubPlanCheckboxContainer {
  color: gray; /* 글자색 변경 (선택 사항) */
  position: relative;
  z-index: 2; /* 선 뒤에 표시 */
}
