@font-face {
  font-family: "CustomFont";
  src: url("../assets/font/Jalnan2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CustomFontGothic";
  src: url("../assets/font/JalnanGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFontGothic", sans-serif;
  margin: 0;
}
