@font-face {
  font-family: "CustomFont";
  src: url("../assets/font/Jalnan2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CustomFontGothic";
  src: url("../assets/font/JalnanGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PretendardRegular";
  src: url("../assets/font/Pretendard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none !important;
}

body {
  font-family: "CustomFontGothic", sans-serif;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F0F7FF 100%);
}
