@font-face {
  font-family: "Jalnan";
  src: url("../assets/font/Jalnan2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JalnanGothic";
  src: url("../assets/font/JalnanGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../assets/font/woff2/Pretendard-Black.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../assets/font/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(../assets/font/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../assets/font/woff2/Pretendard-Bold.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../assets/font/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(../assets/font/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../assets/font/woff2/Pretendard-Medium.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../assets/font/woff2/Pretendard-Regular.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../assets/font/woff2/Pretendard-Light.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../assets/font/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(../assets/font/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../assets/font/woff2/Pretendard-Thin.woff2) format('woff2'), url(../assets/font/woff/Pretendard-Thin.woff) format('woff');
}


* {
  text-decoration: none !important;
}

body {
  font-family: "Pretendard", sans-serif;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F0F7FF 100%);
}
