@font-face {
  font-family: "CustomFont";
  src: url("../assets/font/Jalnan2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CustomFontGothic";
  src: url("../assets/font/JalnanGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PretendardRegular";
  src: url("../assets/font/Pretendard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none !important;
}

body {
  font-family: "CustomFontGothic", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: y;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
