.LoadingPage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2000;

  width: 600px; /* 가로 크기 */
  height: 400px; /* 세로 크기 */
}

.LoadingPage img {
  width: 300px; /* GIF 크기 조절 */
  height: 300px;
  margin-bottom: 10px;
}

.LoadingPage h1 {
  font-size: 30px;
  margin: 0;
  color: #06714c; /* 텍스트 색상 */
  animation: loadingTextFade 1.5s infinite; /* 텍스트 깜빡임 애니메이션 */
}

/* 텍스트 깜빡임 애니메이션 */
@keyframes loadingTextFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
