.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 0 !important;
  width: 100vw;
  min-height: 100vh; /* 페이지 전체 높이에 그라데이션 적용 */
  /* background-image: url('../assets/defaultBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
