.MyPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.MyPageContainer {
    height: auto;
    min-height: 914px;
    display: flex;
    width: 1199px;
    margin: 0;
    padding: 0;
  }
  
  .MyPageSidebar {
    z-index: 2;
    width: 395px;
    background-color: #7092BE;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .MyPageContent {
    padding: 100px;
    padding-top: 200px;
    z-index: 1;
    width: 804px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .FriendsTitle {
    font-size: 30px;
    margin: 20px 0px;
  }