/* 전반적인 스타일 */
.planerMain {
  font-family: "CustomFontGothic", sans-serif;
  top: 0;
  width: 100vw;
  margin-top: 0 !important;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F0F7FF 100%);
  min-height: 100vh; /* 페이지 전체 높이에 그라데이션 적용 */
}