.mainGrassContainer {
  width: 45%;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.createdGrass {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
