.mainGrassContainer {
  width: 30%;
  height: auto;
  border-radius: calc(20 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
  display: flex;
  justify-content: center;
  background-color: white;
}

.createdGrass {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
