.mainTotalContainer {
  width: 100%;
  margin-top: 100px;
}

.uppartContainer {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  height: 500px;
}

.downpartContainer {
  display: flex;
  padding: 10px 50px;
  justify-content: space-evenly;
}
