.mainGradeContainer {
  width: 40%;
  height: auto;
  background-color: white;
  border-radius: calc(20 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(20 / 1440 * 100vw);
}

.mainGradeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(5 / 1440 * 100vw);
}

.mainGradeHeader h4 {
  margin: 0;
}

.mainGradeSubjectSelect {
  align-items: center;
}

.mainGradeSubjectSelect select {
  width: calc(150 / 1440 * 100vw);
}
