.mainPlanMover {
  width: calc(360 / 1440* 100vw);
  height: calc(350 / 1440* 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPlanContainer {
  width: calc(360 / 1440* 100vw);
  display: flex;
  height: calc(350 / 1440 * 100vw);
  flex-direction: column;
  background-color: #ffeb3b;
  border-radius: calc(20 / 1440 * 100vw);
  text-align: center;
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.mainTodayTodo {
  font-size: calc(30 / 1440 * 100vw);
  margin-top: calc(15 / 1440 * 100vw);
  padding-bottom: calc(15 / 1440 * 100vw);
  border-bottom: calc(1 / 1440 * 100vw) solid black;
}

.goToPlanPage {
  width: 100%;
  height: calc(70 / 1440 * 100vw);
  bottom: 0;
  border: none;
  background-color: #fbc02d;
  margin-top: auto;
  border-radius: 0 0 calc(20 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  font-size: calc(20 / 1440 * 100vw);
}
