.mainGradeContainer {
  width: calc(660 / 1440 * 100vw);
  height: calc(262.5 / 1440 * 100vw);
  background-color: white;
  border-radius: calc(20 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(30 / 1440 * 100vw) calc(10 / 1440 * 100vw);
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.mainGradeHeader {
  font-family: "JalnanGothic", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(17 / 1440 * 100vw) !important;
  padding: calc(5 / 1440 * 100vw);
}
.mainGradeHeader p {
  margin: 0;
}


.mainGradeSubjectSelect {
  position: absolute;
  align-items: center;
  right: calc(90 / 1440 * 100vw);
}

.mainGradeSubjectSelect select {
  text-align: center;
  justify-content: center;
  width: calc(90 / 1440 * 100vw);
  height: calc(18 / 1440 * 100vw);
  padding: 0%;
  font-size: calc(9 / 1440 * 100vw) !important;
  margin: 0;
}
