.mainPlanMover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPlanContainer {
  width: calc(270 / 1440 * 100vw);
  height: calc(262.5 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  background-color: #ffeb3b;
  border-radius: calc(20 / 1440 * 100vw);
  text-align: center;
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw)
    rgba(0, 0, 0, 0.1);
}

.mainTodayTodo {
  font-family: "JalnanGothic", sans-serif;
  font-size: calc(17 / 1440 * 100vw);
  margin-top: calc(10 / 1440 * 100vw);
  padding-bottom: calc(5 / 1440 * 100vw);
  border-bottom: calc(1 / 1440 * 100vw) solid black;
}

.goToPlanPage {
  width: 100%;
  font-family: "JalnanGothic", sans-serif;
  height: calc(40 / 1440 * 100vw);
  padding: calc(5 / 1440 * 100vw) 0;
  bottom: 0;
  border: none;
  background-color: #fbc02d;
  margin-top: auto;
  border-radius: 0 0 calc(20 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  font-size: calc(14 / 1440 * 100vw);
}
