.mainTodayTodoList {
  padding: 0 calc(20 / 1440 * 100vw);
  height: calc(300 / 1440 * 100vw);
  overflow-y: auto; /* 세로 스크롤바 추가 */
  padding-right: calc(10 / 1440 * 100vw); /* 스크롤바 공간 확보 */
}

.mainTodayTodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  font-size: calc(14 / 1440 * 100vw);
  font-weight: 600;
  padding: calc(2 / 1440 * 100vw) 0;
}

.mainTodayTodoItem p {
  display: list-item;
  list-style-type: disc;  /* 점 모양을 선택 */
  list-style-position: inside;  /* 점을 문단 안쪽에 배치 */
  margin: 0;
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분을 '...'로 표시 */
  width: calc(250 / 1440 * 100vw);
}

.mainTodayTodoNone {
  font-size: calc(16 / 1440 * 100vw);
}

/* 웹킷 기반 브라우저용 스크롤바 숨김 */
.mainTodayTodoList::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Firefox용 스크롤바 숨김 */
.mainTodayTodoList {
  scrollbar-width: none;
}

/* IE and Edge용 스크롤바 숨김 */
.mainTodayTodoList {
  -ms-overflow-style: none;
}
