.mainTodayTodoList {
  padding: 0 calc(20 / 1440 * 100vw);
  height: calc(300 / 1440 * 100vw);
  overflow-y: auto; /* 세로 스크롤바 추가 */
  padding-right: calc(10 / 1440 * 100vw); /* 스크롤바 공간 확보 */
}

.mainTodayTodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: calc(20 / 1440 * 100vw);
  padding: calc(7 / 1440 * 100vw) 0;
}

.mainTodayTodoItem p {
  margin: 0;
}

.mainTodayTodoNone {
  font-size: calc(20 / 1440 * 100vw);
}

/* 웹킷 기반 브라우저용 스크롤바 숨김 */
.mainTodayTodoList::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Firefox용 스크롤바 숨김 */
.mainTodayTodoList {
  scrollbar-width: none;
}

/* IE and Edge용 스크롤바 숨김 */
.mainTodayTodoList {
  -ms-overflow-style: none;
}
