.carousel-container {
  position: relative;
  font-family: "JalnanGothic", sans-serif;
  font-weight: 500;
}

.d-block {
  width: 100vw;
  height: calc(100vh - calc(60 / 1440 * 100vw));
  object-fit: cover;
}

.recommendation-text {
  width: calc(1000 / 1440 * 100vw); /* 너비 조절(단어별로 줄나눔한 효과 주기 위해) */
  transform: translateX(-50%);
  color: #ffffff; /* 글자 색상 */
  font-weight: bold; /* 글자 두껍게 */
}

.recommendation-text p {
  display: block; /* 각 단어를 블록 요소로 만들어 줄바꿈 */
  margin: calc(5 / 1440 * 100vw) 0; /* 단어 간의 간격 조정 */
  font-size: calc(40 / 1440 * 100vw); /* 글자 크기 조정 */
  color: #ffffff; /* 글자 색상 */
  opacity: 0; /* 초기 상태에서 투명 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 적용 */
}

/* 애니메이션 정의 */
@keyframes fadeIn {
  from {
    opacity: 0; /* 시작할 때 완전히 투명 */
    transform: translateY(calc(20 / 1440 * 100vw)); /* 아래에서 위로 올라오는 효과 */
  }
  to {
    opacity: 1; /* 끝날 때 완전히 불투명 */
    transform: translateY(0); /* 원래 위치 */
  }
}

.carousel-control-next-icon {
  height: calc(32 / 1440 * 100vw);
  width: calc(32 / 1440 * 100vw);
}

.carousel-control-prev-icon {
  height: calc(32 / 1440 * 100vw);
  width: calc(32 / 1440 * 100vw);
}

.carousel-indicators {
  margin-bottom: calc(16 / 1440 * 100vw);
}


