.SideButtonImg {
    width: 40px;
    height: 40px;
}

.SideButtonContainer {
    background-color: rgba(0, 0, 0, 0); /* 완전 투명 배경 */
    border: none;
    padding: 0;
    margin: 5px;
    width: 60px;
    height: 60px;
}