.navLogoContainer {
  margin-right: calc(30/1440*100vw);
  text-decoration: none !important;
}

.navLogo {
  width: calc(40/1440*100vw);
  height: auto;
  text-decoration: none !important;
  padding-bottom: calc(5/1440*100vw);
}

.navLogoContent {
  font-size: calc(20/1440*100vw);
  text-decoration: none !important;
  color: #bf714d;
}

.navLogoContainer span {
  text-decoration: none !important;
}
