.navContainer {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100 / 1440 * 100vw);
  display: flex;
  justify-content: center;
  padding: calc(10 / 1440 * 100vw);
  box-sizing: border-box;
  background-color: white;
  font-family: "CustomFont", sans-serif;
}

.navItem {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(150 / 1440 * 100vw);
  height: calc(75 / 1440 * 100vw);
  text-decoration: none; /* 'text-decoration-line' 대신 'text-decoration' 사용 */
  color: black;
}

.navItem p {
  font-size: calc(30 / 1440 * 100vw);
  margin: 0;
}

.loginItem {
  text-decoration: none;
  color: black;
}

.loginItem p {
  font-size: calc(20 / 1440 * 100vw);
  margin: 0;
}

.navBackground {
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: calc(10 / 1440 * 100vw);
  box-sizing: border-box;
}

.leftContainer,
.rightContainer {
  z-index: 2;
  display: flex;
  align-items: center;
}

.leftContainer {
  justify-content: flex-start;
  font-size: calc(30 / 1440 * 100vw);
}

.rightContainer {
  justify-content: flex-end;
  font-size: calc(20 / 1440 * 100vw);
}
