.navContainer {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100vw;
  height: calc(60 / 1440 * 100vw);
  display: flex;
  justify-content: center;
  padding: calc(10 / 1440 * 100vw);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6); /* 흰색 배경에 60% 불투명도 */
  backdrop-filter: blur(calc(10 / 1440 * 100vw)); /* 배경 블러 처리 */
  font-family: "CustomFont", sans-serif;
  text-decoration: none !important;
}

.navItem {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100 / 1440 * 100vw);
  height: calc(50 / 1440 * 100vw);
  text-decoration: none; /* 'text-decoration-line' 대신 'text-decoration' 사용 */
  color: black;
}

.navItem p {
  font-size: calc(15 / 1440 * 100vw);
  margin: 0;
}

.loginItem {
  text-decoration: none;
  color: black;
}

.loginItem p {
  font-size: calc(15 / 1440 * 100vw);
  margin: 0;
}

.navBackground {
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: calc(10 / 1440 * 100vw);
  box-sizing: border-box;
}

.leftContainer,
.rightContainer {
  z-index: 2;
  display: flex;
  align-items: center;
}

.leftContainer {
  margin-left: calc(50 / 1440 * 100vw);
  justify-content: flex-start;
  font-size: calc(20 / 1440 * 100vw);
}

.rightContainer {
  justify-content: flex-end;
  font-size: calc(15 / 1440 * 100vw);
  margin-right: calc(50 / 1440 * 100vw);
}
