.whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(600 / 1440 * 100vw);
  margin: calc(20 / 1440 * 100vw);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(190 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif;
}

.titleName {
  margin: 0;
  font-size: calc(20 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif;
}

.content {
  width: calc(495 / 1440 * 100vw);
  height: calc(60 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif;
}
