.whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
}

.titleName {
  margin: 0px;
  font-size: 20px;
}

.content {
  width: 495px;
  height: 60px;
}
