.mainbox {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 620px;
  margin-top: 100px;
}

.Info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 350px;
  margin-right: 10px;
}

.InfoInput {
  width: 700px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.DetailInfoTitle {
  margin-top: 30px;
}

.DetailInfoInput {
  width: 1100px;
  height: 90px;
}

.create-btn {
  width: 150px; /* 버튼 너비 */
  padding: 10px 20px; /* 버튼 패딩 */
  font-size: 20px; /* 버튼 글자 크기 */
  font-weight: bold; /* 버튼 글자 굵기 */
  background-color: #84c1f6; /* 버튼 배경색 */
  color: #000000; /* 버튼 글자색 */
  border: none; /* 버튼 테두리 없음 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서가 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.create-btn:hover {
  background-color: #5e8ab0;
}

.subbox {
  width: 290px;
  height: 290px;
  background-color: #84c1f6;
  margin-bottom: 10px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.subbox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
