.Mainbox01 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Mainbox02 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
}
