.listBox01 {
  width: calc(340 / 1440 * 100vw);
  height: calc(210 / 1440 * 100vw);
  border-radius: calc(5 / 1440 * 100vw);
  background: #f0f4f8;
  box-shadow: 0 calc(4 / 1440 * 100vw) calc(6 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
  border: calc(1 / 1440 * 100vw) solid #ccc;
  overflow-y: auto; /* 세로 스크롤바 추가 */
  padding-right: calc(10 / 1440 * 100vw); /* 스크롤바 공간 확보 */
}

/* 웹킷 기반 브라우저용 스크롤바 숨김 */
.listBox01::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Firefox용 스크롤바 숨김 */
.listBox01 {
  scrollbar-width: none;
}

/* IE and Edge용 스크롤바 숨김 */
.listBox01 {
  -ms-overflow-style: none;
}
