.sendRequestItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0px 10px;
}

.sendRequestInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendRequestThumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.sendRequestNickname {
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
}

.sendCancel {
  width: 40px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  border: none;
  background: none;
}
