.sendRequestItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(340 / 1440 * 100vw);
  border: calc(1 / 1440 * 100vw) solid #ccc;
  padding: 0 calc(10 / 1440 * 100vw);
}

.sendRequestInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendRequestThumbnail {
  width: calc(50 / 1440 * 100vw);
  height: calc(50 / 1440 * 100vw);
  margin-right: calc(10 / 1440 * 100vw);
}

.sendRequestNickname {
  font-size: calc(20 / 1440 * 100vw);
  margin: 0;
  vertical-align: middle;
}

.sendCancel {
  width: calc(40 / 1440 * 100vw);
  height: calc(40 / 1440 * 100vw);
  font-size: calc(20 / 1440 * 100vw);
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
}


.NoSendFriendRequest {
  padding-top: calc(90 / 1440 * 100vw);
  text-align: center;
  align-items: center;
}