.user-grade-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: calc(20 / 1440 * 100vw);
  border-radius: calc(15 / 1440 * 100vw);
  transition: background 0.5s ease;
}

/* 등급별 배경 그라데이션 설정 */
.user-grade-image-container.브론즈 {
  background: linear-gradient(
    to bottom right,

    rgba(173, 86, 0, 1) 10%,
    rgba(242, 186, 79, 0.5) 90%
  );
}

.user-grade-image-container.실버 {
  background: linear-gradient(
    to bottom right,
    rgba(67, 95, 122, 1) 10%,
    rgba(121, 141, 255, 0.5) 90%
  );
}

.user-grade-image-container.골드 {
  background: linear-gradient(
    to bottom right,
    rgba(255, 215, 0, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image-container.플래티넘 {
  background: linear-gradient(
    to bottom right,
    rgba(229, 228, 226, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image-container.다이아 {
  background: linear-gradient(
    to bottom right,
    rgba(185, 242, 255, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image {
  width: calc(200 / 1440 * 100vw);
  height: auto;
  border-radius: 50%;
  border: calc(5 / 1440 * 100vw) solid #fff;
}

.user-grade-text {
  margin-top: calc(20 / 1440 * 100vw);
  font-size: calc(30 / 1440 * 100vw);
  font-weight: bold;
  color: #444;
  text-shadow: calc(2 / 1440 * 100vw) calc(2 / 1440 * 100vw) calc(4 / 1440 * 100vw) rgba(0, 0, 0, 0.2);
}

.user-grade-progress-bar-container {
  width: 80%;
  background-color: #e0e0e0;
  border-radius: calc(10 / 1440 * 100vw);
  margin-top: calc(10 / 1440 * 100vw);
  height: calc(20 / 1440 * 100vw);
  overflow: hidden;
  box-shadow: inset 0 calc(1 / 1440 * 100vw) calc(3 / 1440 * 100vw) rgba(0, 0, 0, 0.2);
}

.user-grade-progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: calc(10 / 1440 * 100vw);
  transition: width 0.4s ease-in-out;
}

.user-grade-exp-text {
  margin-top: calc(5 / 1440 * 100vw);
  font-size: calc(18 / 1440 * 100vw);
  font-weight: 500;
  color: #555;
}
