.user-grade-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  transition: background 0.5s ease;
}

/* 등급별 배경 그라데이션 설정 */
.user-grade-image-container.브론즈 {
  background: linear-gradient(
    to bottom right,

    rgba(173, 86, 0, 1) 10%,
    rgba(242, 186, 79, 0.5) 90%
  );
}

.user-grade-image-container.실버 {
  background: linear-gradient(
    to bottom right,
    rgba(67, 95, 122, 1) 10%,
    rgba(121, 141, 255, 0.5) 90%
  );
}

.user-grade-image-container.골드 {
  background: linear-gradient(
    to bottom right,
    rgba(255, 215, 0, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image-container.플래티넘 {
  background: linear-gradient(
    to bottom right,
    rgba(229, 228, 226, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image-container.다이아 {
  background: linear-gradient(
    to bottom right,
    rgba(185, 242, 255, 1) 10%,
    rgba(255, 255, 255, 0.5) 90%
  );
}

.user-grade-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
}

.user-grade-text {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #444;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-grade-progress-bar-container {
  width: 80%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
  height: 20px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.user-grade-progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

.user-grade-exp-text {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
