.ai-planner-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 배경을 어둡게 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ai-planner-modal__content {
  background-color: #fff;
  padding: calc(20 / 1440 * 100vw);
  border-radius: calc(8 / 1440 * 100vw);
  box-shadow: 0 calc(4 / 1440 * 100vw) calc(8 / 1440 * 100vw) rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  margin-left: calc(20 / 1440 * 100vw); /* 좌측 마진 추가 */
  margin-right: calc(20 / 1440 * 100vw); /* 우측 마진 추가 */
  font-weight: 500;
  font-size: calc(12 / 1440 * 100vw);
}

.ai-planner-modal__content-body {
  max-height: 60vh; /* 컨텐츠 바디의 최대 높이 설정 */
  overflow-y: auto;
  margin-top: calc(20 / 1440 * 100vw); /* 컨텐츠 바디와 제목 사이 여백 추가 */
}

.ai-planner-modal__table {
  width: 100%;
  border-collapse: collapse;
}

.ai-planner-modal__table th,
.ai-planner-modal__table td {
  padding: calc(10 / 1440 * 100vw);
  text-align: center;
  border-bottom: calc(1 / 1440 * 100vw) solid #ddd;
  word-wrap: break-word; /* 긴 텍스트를 다음 줄로 넘김 */
}

.ai-planner-modal__table th {
  font-weight: 700;
  font-size: calc(14 / 1440 * 100vw);
}

.ai-planner-modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: calc(20 / 1440 * 100vw);
}

.ai-planner-modal__register-button,
.ai-planner-modal__close-button {
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  border: none;
  border-radius: calc(8 / 1440 * 100vw);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ai-planner-modal__register-button {
  font-weight: 700;
  background-color: #494949;
  color: white;
  font-size: calc(13 / 1440 * 100vw);
}

.ai-planner-modal__register-button:hover {
  background-color: #3A3A3A;
}

.ai-planner-modal__close-button {
  font-weight: 700;
  font-size: calc(13 / 1440 * 100vw);
  background-color: #B3B3B3;
  color: white;
}

.ai-planner-modal__close-button:hover {
  background-color: #A3A3A3;
}

.ai-planner-modal__edit-button,
.ai-planner-modal__save-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: calc(5 / 1440 * 100vw) calc(10 / 1440 * 100vw);
  border-radius: calc(5 / 1440 * 100vw);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ai-planner-modal__edit-button:hover,
.ai-planner-modal__save-button:hover {
  background-color: #1976d2;
}



.ai-planner-modal__title {
  font-weight: 500;
  font-size: calc(18 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif;
  margin-bottom: calc(20 / 1440 * 100vw);
}

.ai-planner-modal__table-cell > input, select {
  font-weight: 500;
  font-size: calc(12 / 1440 * 100vw);
}