.CreateModify-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* z-index 설정 추가 */
}

.CreateModify-modal-content {
  background-color: white;
  padding: calc(20 / 1440 * 100vw);
  border-radius: calc(5 / 1440 * 100vw);
  box-shadow: 0 calc(2 / 1440 * 100vw) calc(10 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
  width: calc(400 / 1440 * 100vw);
  z-index: 1100; /* 콘텐츠 z-index 설정 추가 */
}

.CreateModify-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreateModify-form-group {
  display: flex;
  align-items: center;
  margin-bottom: calc(15 / 1440 * 100vw);
  width: 100%;
}

.CreateModify-form-group label {
  width: calc(100 / 1440 * 100vw); /* 레이블의 너비를 고정합니다 */
  margin-right: calc(10 / 1440 * 100vw);
  text-align: right; /* 레이블을 오른쪽 정렬합니다 */
}

.CreateModify-form-group input,
.CreateModify-form-group select,
.CreateModify-form-group textarea {
  width: calc(100% - calc(120 / 1440 * 100vw)); /* 레이블 너비를 뺀 나머지 공간을 차지합니다 */
  padding: calc(8 / 1440 * 100vw);
  box-sizing: border-box;
  border: calc(1 / 1440 * 100vw) solid #ccc;
  border-radius: calc(4 / 1440 * 100vw);
}

.CreateModify-form-group textarea {
  resize: vertical;
  height: calc(80 / 1440 * 100vw);
}

.CreateModify-form-group input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - calc(160 / 1440 * 100vw)); /* 슬라이더 길이를 조정했습니다 */
  height: calc(8 / 1440 * 100vw);
  background: #ddd;
  outline: none;
  border-radius: calc(4 / 1440 * 100vw);
  cursor: pointer;
}

.CreateModify-form-group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(20 / 1440 * 100vw);
  height: calc(20 / 1440 * 100vw);
  background: #4a90e2;
  cursor: pointer;
  border-radius: 50%;
}

.CreateModify-form-group input[type="range"]::-moz-range-thumb {
  width: calc(20 / 1440 * 100vw);
  height: calc(20 / 1440 * 100vw);
  background: #4a90e2;
  cursor: pointer;
  border-radius: 50%;
}

.CreateModify-form-group .time-display {
  margin-left: calc(10 / 1440 * 100vw);
  width: calc(50 / 1440 * 100vw); /* 시간 표시의 너비를 조정합니다 */
  text-align: left; /* 시간 표시를 왼쪽 정렬합니다 */
  white-space: nowrap; /* 줄바꿈을 방지합니다 */
}

.CreateModify-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: calc(15 / 1440 * 100vw);
  width: 100%;
}

.CreateModify-form-buttons button {
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  border: none;
  border-radius: calc(4 / 1440 * 100vw);
  cursor: pointer;
  flex: 1;
  margin: 0 calc(5 / 1440 * 100vw);
}

.CreateModify-register-button {
  background-color: #4a90e2;
  color: white;
}

.CreateModify-autocomplete-button {
  background-color: #ffccff;
  color: black;
}

.CreateModify-cancel-button {
  background-color: #f86c6b;
  color: white;
}
