.analyzeWeakBlock {
  width: 35%;
  height: auto;
  max-height: calc(370 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
  box-sizing: border-box; /* 패딩을 너비에 포함 */
}

.analyzeWeakBlock h4 {
  text-align: center;
}

.weaknessList {
  margin-top: calc(20 / 1440 * 100vw);
  height: auto;
  min-height: calc(300 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.weaknessItem {
  width: 100%;
  border-radius: calc(10 / 1440 * 100vw);
  border: solid calc(1 / 1440 * 100vw) black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(20 / 1440 * 100vw) calc(10 / 1440 * 100vw);
}

.weaknessItem p {
  margin: 0;
}
