/* 전체 그래프 컨테이너 스타일 */
.analyze-weak-graph {
  width: 60%;
  max-width: calc(800 / 1440 * 100vw); /* 최대 너비 설정 */
  height: auto;
  min-height: calc(400 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
  box-sizing: border-box; /* 패딩을 너비에 포함 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* 그래프 제목 스타일 */
.analyze-weak-graph h3 {
  text-align: center;
  color: #333;
}

/* 차트 컨테이너 스타일 */
.chart-container {
  width: 100%;
  height: auto;
  min-height: calc(250 / 1440 * 100vw); /* 차트의 높이 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(20 / 1440 * 100vw);
  padding: calc(30 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  background-color: white;
  border-radius: calc(20 / 1440 * 100vw);
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw)
    rgba(0, 0, 0, 0.1);
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
  /* 화면 너비가 600px 이하일 때 적용되는 스타일 */
  .analyze-weak-graph {
    padding: calc(10 / 1440 * 100vw); /* 패딩 축소 */
  }

  .chart-container {
    height: calc(200 / 1440 * 100vw); /* 차트 높이 축소 */
  }
}
