.gradeContents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gradeItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gradeItemTitle {
    margin-left: 20px;
    
    width: 340px;
    height: 40px;
}
.gradeItemTitle p {
    font-size: 30px;
    margin-top: 0px;
    width: 340px;
    height: 40px;
}
.gradeItemContent {
    margin-left: 20px;
    margin-right: 20px;
    width: 340px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid grey 1px;
    background: linear-gradient(to bottom, #dee5f0, #ffffff);
}

.expLog {
    align-items: center;
    justify-content: center;
}


.expLogTitle {
    margin-top: 45px;
    width: 340px;
    height: 40px;
}

.expLogTitle p {
    font-size: 30px;
    margin: 0px;
    margin-left: 20px;
    width: 340px;
    height: 40px;
}

.expLogContent {
    margin: 0px 20px;
    width: 720px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid grey 1px;
    background: linear-gradient(to bottom, #dee5f0, #ffffff);
}
