.audioModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(300 / 1440 * 100vw);
  background-color: #f5f5f5;
  border-radius: calc(12 / 1440 * 100vw);
  box-shadow: 0 calc(4 / 1440 * 100vw) calc(20 / 1440 * 100vw) rgba(0, 0, 0, 0.15);
  outline: none;
}

.audioModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(16 / 1440 * 100vw);
  background-color: #B4C8BB;
  color: white;
  border-top-left-radius: calc(12 / 1440 * 100vw);
  border-top-right-radius: calc(12 / 1440 * 100vw);
}

.audioModalContent {
  padding: calc(24 / 1440 * 100vw);
}

.audioModalSelectContainer,
.audioModalSliderContainer {
  display: flex;
  align-items: center;
  margin-bottom: calc(24 / 1440 * 100vw);
}

.audioModalSelectContainer svg,
.audioModalSliderContainer svg {
  margin-right: calc(12 / 1440 * 100vw);
  color: #B4C8BB;
}

.audioModalSelectContainer .MuiTypography-root,
.audioModalSliderContainer .MuiTypography-root {
  min-width: calc(100 / 1440 * 100vw);
  margin-right: calc(12 / 1440 * 100vw);
}

.audioModalSelectContainer .MuiFormControl-root,
.audioModalSliderContainer .MuiSlider-root {
  flex-grow: 1;
}

.MuiSelect-select,
.MuiSlider-root {
  color: #B4C8BB;
}