.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: calc(8 / 1440 * 100vw); /* 패딩을 화면 너비에 비례하여 설정 */
  margin: 0;
  width: calc(300 / 1440 * 100vw); /* 사이드바 너비를 화면 너비에 비례하여 설정 */
  height: calc((100vh - calc(70 / 1440 * 100vw)) / 2); /* 전체 화면 높이에 비례한 높이 */
  border: calc(1 / 1440 * 100vw) solid #ddd; /* 테두리 두께를 화면 너비에 비례하여 설정 */
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* chat-messages 스타일 */
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: calc(16 / 1440 * 100vw); /* 패딩을 화면 너비에 비례하여 설정 */
  background-color: #f4f4f4;
  font-family: "CustomFontGothic", sans-serif; /* 폰트 적용 */
}

/* 내 메시지와 상대 메시지 스타일 */
.my-nickname, .other-nickname {
  font-weight: bold;
  margin-bottom: calc(4 / 1440 * 100vw); /* 마진을 화면 너비에 비례하여 설정 */
}

.my-message, .other-message {
  padding: calc(8 / 1440 * 100vw); /* 패딩을 화면 너비에 비례하여 설정 */
  border-radius: calc(4 / 1440 * 100vw); /* 테두리 반경을 화면 너비에 비례하여 설정 */
  margin-bottom: calc(4 / 1440 * 100vw); /* 마진을 화면 너비에 비례하여 설정 */
  font-family: "CustomFontGothic", sans-serif; /* 폰트 적용 */
}

.my-nickname, .my-message {
  text-align: right; /* 우측 정렬 */
}

.other-nickname, .other-message {
  text-align: left; /* 좌측 정렬 */
}

.my-message {
  background-color: #d1ffd1; /* 내 메시지 색상 */
  align-self: flex-end; /* 우측 정렬 */
}

.other-message {
  background-color: #e0e0e0; /* 상대 메시지 색상 */
  align-self: flex-start; /* 좌측 정렬 */
}

.enter-message {
  font-style: italic;
  color: #888;
  margin-bottom: calc(8 / 1440 * 100vw); /* 마진을 화면 너비에 비례하여 설정 */
}

/* chat-input-container 스타일 */
.chat-input-container {
  display: flex;
  align-items: center;
  padding: calc(8 / 1440 * 100vw); /* 패딩을 화면 너비에 비례하여 설정 */
}

.chat-input-container .MuiTextField-root {
  margin-right: calc(8 / 1440 * 100vw); /* 마진을 화면 너비에 비례하여 설정 */
}

.messageSendButton {
  background-color: transparent;
  border: none;
}

.sendButtonImg {
  width: calc(24 / 1440 * 100vw); /* 아이콘 너비를 화면 너비에 비례하여 설정 */
  height: calc(24 / 1440 * 100vw); /* 아이콘 높이를 화면 너비에 비례하여 설정 */
}
