.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 300px;
  height: calc((100vh - 70px)/2);
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* chat-messages 스타일 */
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  background-color: #f4f4f4;
  font-family: "CustomFontGothic", sans-serif; /* 폰트 적용 */
}

/* 내 메시지와 상대 메시지 스타일 */
.my-nickname, .other-nickname {
  font-weight: bold;
  margin-bottom: 4px;
}

.my-message, .other-message {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  font-family: "CustomFontGothic", sans-serif; /* 폰트 적용 */
}

.my-nickname, .my-message {
  text-align: right; /* 우측 정렬 */
}

.other-nickname, .other-message {
  text-align: left; /* 좌측 정렬 */
}

.my-message {
  background-color: #d1ffd1; /* 내 메시지 색상 */
  align-self: flex-end; /* 우측 정렬 */
}

.other-message {
  background-color: #e0e0e0; /* 상대 메시지 색상 */
  align-self: flex-start; /* 좌측 정렬 */
}

.enter-message {
  font-style: italic;
  color: #888;
  margin-bottom: 8px;
}

/* chat-input-container 스타일 */
.chat-input-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.chat-input-container .MuiTextField-root {
  margin-right: 8px;
}

.messageSendButton {
  background-color: transparent;
  border: none;
}

.sendButtonImg {
  width: 24px;
  height: 24px;
}
