.StudyNavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 70px;
    background-color: #262A2D;
    box-sizing: border-box;
    border-bottom: solid #919497 0.1px;
}

.StudyNavLogoContainer {
    display: flex;
    align-items: center;
}

.studyNavButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.utilButton {
    display: flex;
    align-items: center;
    padding: 0;
}