.todayPlanTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20 / 1440 * 100vw); /* 화면 너비에 비례한 폰트 크기 */
}

.singleTodayPlanBox {
  width: calc(280 / 1440 * 100vw); /* 컨테이너의 너비 설정 */
  height: calc((100vh - calc(70 / 1440 * 100vw)) / 4 - calc(10 / 1440 * 100vw)); /* 전체 화면 높이에 비례한 높이 */
  overflow-y: auto;
  margin: 0;
  padding: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 패딩 */
  background-color: #f1c40f; /* 배경 색상 */
  border-radius: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 둥글기 */
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* 기본 스크롤바 숨기기 */
.singleTodayPlanBox::-webkit-scrollbar {
  width: calc(0 / 1440 * 100vw); /* 화면 너비에 비례한 스크롤바 너비 */
}

/* 호버 시 스크롤바 나타내기 */
.singleTodayPlanBox:hover::-webkit-scrollbar {
  width: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 스크롤바 너비 */
}

.singleTodayPlanBox::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙 색상 */
  border-radius: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 둥글기 */
}

.singleTodayPlanBox::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 색상 */
  border-radius: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 둥글기 */
}

.singleTodayPlanBox:hover::-webkit-scrollbar-thumb {
  background: #555; /* 호버 시 스크롤바 색상 */
}

.singleTodayPlanContent {
  width: calc(240 / 1440 * 100vw); /* 화면 너비에 비례한 너비 */
  display: flex; /* 체크박스와 텍스트를 일렬로 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: flex-start;
  border-bottom: calc(1 / 1440 * 100vw) solid red; /* 화면 너비에 비례한 밑줄 두께 */
  padding-top: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 패딩 */
  position: relative; /* 절대 위치 설정을 위해 relative 추가 */
}

.singleTodayPlanContent label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: calc(14 / 1440 * 100vw); /* 화면 너비에 비례한 폰트 크기 */
}

.singleTodayPlanContent input[type="checkbox"] {
  margin-left: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 체크박스 여백 */
  margin-right: 0; /* 체크박스 여백 */
  width: calc(19 / 1440 * 100vw); /* 화면 너비에 비례한 체크박스 너비 */
  height: calc(19 / 1440 * 100vw); /* 화면 너비에 비례한 체크박스 높이 */
  transform: scale(1); /* 체크박스 크기 조절 */
}

.singleTodayPlanContent p {
  align-items: center;
  margin: 0;
  font-size: calc(14 / 1440 * 100vw); /* 화면 너비에 비례한 폰트 크기 */
  padding-left: calc(10 / 1440 * 100vw); /* 화면 너비에 비례한 패딩 */
  font-weight: normal; /* 텍스트 두께 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분을 '...'로 표시 */
  width: calc(200 / 1440 * 100vw);
}

/* 완료된 플랜에 대한 스타일 */
.singleTodayPlanContent.completed::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; /* 텍스트 중앙에 위치 */
  height: calc(2 / 1440 * 100vw); /* 화면 너비에 비례한 선의 두께 */
  z-index: 1; /* 텍스트 위에 표시 */
}

.singleTodayPlanContent.completed p,
.singleTodayPlanContent.completed label {
  position: relative;
  z-index: 2; /* 선 뒤에 표시 */
}

.singleTodayPlanContent.completed p {
  text-decoration: line-through red !important; /* 완료된 항목에 대해 텍스트에 선 긋기 */
}

.EmptyPlan {
  font-size: calc(50 / 1440 * 100vw); /* 화면 너비에 비례한 폰트 크기 */
}

.singleTodayPlanNoContent {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%; /* 높이 100%로 설정 */
  font-size: calc(20 / 1440 * 100vw); /* 화면 너비에 비례한 폰트 크기 */
}
