/* src/components/Leaderboard.css */

.studyRoomRankLeaderboard {
    background-color: #B4C8BB !important;
    width: 295.5px; /* 컨테이너의 너비 설정 */
    height: 165px; /* 전체 컨테이너 높이 설정 */
    padding: 0px !important;
    border-radius: 10px 10px; /* 붙이는 부분 둥글게 */
  }
  
  .studyRoomRankTitlePaper {
    background-color: #B4C8BB !important;
    padding: 5px; /* 여백 조정 */
    height: 30%; /* Paper의 높이를 전체 컨테이너 높이의 80%로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .studyRoomRankTitlePaper .MuiTypography-body2 {
    margin-top: 7px;
    font-size: 20px; /* 폰트 크기 설정 */
    font-family: "CustomFontGothic", sans-serif;
  }


  .studyRoomRankPaper {
    background-color: #e7e3e3 !important;
    padding: 5px; /* 여백 조정 */
    height: 35%; /* Paper의 높이를 전체 컨테이너 높이의 80%로 설정 */
    overflow: hidden;
  }
  
  .studyRoomRankContent {
    position: relative;
    width: 100%; /* 슬라이딩 영역의 너비를 Paper의 너비와 맞춤 */
    height: 100%; /* 슬라이딩 영역의 높이를 Paper의 높이와 맞춤 */
    padding: 0; /* 슬라이딩 영역 내부 패딩 제거 */
    overflow: hidden;
  }
  
  .studyRoomRankSliding {
    position: absolute;
    width: 100%; /* 슬라이딩 영역의 너비를 Paper의 너비와 맞춤 */
    height: 100%; /* 슬라이딩 영역의 높이를 Paper의 높이와 맞춤 */
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
  }
  
  .studyRoomRankSliding > div {
    background-color: #e7e3e3;
    flex: 0 0 100%;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 가로 방향으로 space-between 정렬 */
    padding: 5px; /* 내부 패딩 조정 */
  }
  
  .studyRoomRankSliding .MuiAvatar-root {
    margin-right: 8px; /* 아바타와 텍스트 간의 간격 */
    width: 24px;
    height: 24px;
  }
  
  .studyRoomRankSliding .MuiTypography-body2 {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    font-size: 20px; /* 폰트 크기 설정 */
    font-family: "CustomFontGothic", sans-serif;
  }
  
  .studyRoomRankinfoPaper {
    background-color: #e7e3e3 !important;
    padding: 10px; /* 여백 조정 */
    height: 35%; /* Paper의 높이를 전체 컨테이너 높이의 20%로 설정 */
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 가로 방향으로 space-between 정렬 */
    width: 100%; /* Paper의 너비를 전체 컨테이너 너비와 맞춤 */
  }
  
  .studyRoomRankinfoPaper .MuiAvatar-root {
    margin-right: 8px; /* 아바타와 텍스트 간의 간격 */
    width: 24px;
    height: 24px;
  }
  
  .studyRoomRankinfoPaper .MuiTypography-body2 {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    font-size: 20px; /* 폰트 크기 설정 */
    font-family: "CustomFontGothic", sans-serif;
  }
  
