/* 전체 컨테이너 스타일 */
.friendGradeContainer {
  min-height: 80vh;
  margin: calc(75 / 1440 * 100vw); /* 전체 컨테이너에 여백 추가 */
  margin-bottom: calc(30 / 1440 * 100vw) !important;
  margin-top: calc(30 / 1440 * 100vw);
  border-radius: calc(20 / 1440 * 100vw); /* 네비게이션 바 밑에 위치 */
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
  padding: calc(20 / 1440 * 100vw);
  background-color: #FAFAFA;
  padding-bottom: calc(50 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 헤더 스타일 */
.friendGradeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(40 / 1440 * 100vw);
  width: 93%;
}

/* 과목 선택 스타일 */
.friendGradeSubjectSelect {
  align-items: center;
}

.friendGradeSubjectSelect select {
  width: calc(150 / 1440 * 100vw);
}

/* 캐릭터 상태 스타일 */
.friendCowStatus {
  width: 20%;
  height: auto;
  max-height: 460px;
  border-radius: 20px;
}

/* 본문 스타일 */
.friendGradeBody {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.friendGradeStatus {
  width: 70%;
}

.notSelectSubject {
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
}
