.learningStatusContainer {
  width: 30%;
  margin: 0;
  padding: calc(20 / 1440 * 100vw);
  background: linear-gradient(to bottom, #f7faff, #dce7f3);
  border-radius: calc(8 / 1440 * 100vw);
  box-shadow: 0 calc(4 / 1440 * 100vw) calc(8 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.learningStatusTitle {
  font-size: calc(24 / 1440 * 100vw);
  font-weight: bold;
  margin-bottom: calc(15 / 1440 * 100vw);
  text-align: center;
}

.learningStatusTable {
  width: 100%;
  border-collapse: collapse;
}

.learningStatusRow {
  display: flex;
  justify-content: space-between;
  padding: calc(8 / 1440 * 100vw) 0;
}

.learningStatusLabel {
  font-size: calc(16 / 1440 * 100vw);
  color: #333;
}

.learningStatusValue {
  font-size: calc(16 / 1440 * 100vw);
  font-weight: bold;
  color: #555;
}
