.selectedSubjectContainer {
  width: 100%;
}

.upsideContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.downsideContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: calc(30 / 1440 * 100vw);
}

.recentGradesGraph {
  width: 65%;
  height: auto;
}

.recentGradesGraph h3 {
  text-align: center;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
}
