/* 전체 컨테이너 스타일 */
.friendGradeContainer {
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw)
    rgba(0, 0, 0, 0.1);
  padding: calc(50 / 1440 * 100vw);
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 헤더 스타일 */
.friendGradeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(40 / 1440 * 100vw);
  width: 93%;
}

.friendGradeHeader h1 {
  font-family: "JalnanGothic", sans-serif;
  margin: 0px;
}

/* 과목 선택 스타일 */
.friendGradeSubjectSelect {
  align-items: center;
}

.friendGradeSubjectSelect select {
  width: calc(90 / 1440 * 100vw);
  height: calc(18 / 1440 * 100vw);
  font-size: calc(12 / 1440 * 100vw);
  font-weight: 700;
  padding: 0;
  text-align: center;
}

/* 캐릭터 상태 스타일 */
.friendCowStatus {
  width: 20%;
  height: auto;
  max-height: 460px;
  border-radius: 20px;
}

/* 본문 스타일 */
.friendGradeBody {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.friendGradeStatus {
  width: 70%;
}

.notSelectSubject {
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
}
