.learningStatusMain {
  width: 30%;
}

.learningStatusContainer {
  width: 100%;
  margin: 0;
  margin-left: calc(20 / 1440 * 100vw);
  height: calc(400 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
  background-color: #f0f4f8;
  border-radius: calc(20 / 1440 * 100vw);
  box-shadow: 0 calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw)
    rgba(0, 0, 0, 0.1);
}

.learningStatusTitle {
  font-weight: 700;
  margin-left: calc(20 / 1440 * 100vw);
  padding-left: calc(20 / 1440 * 100vw);
  font-size: calc(24 / 1440 * 100vw);
  text-align: center;
  margin-bottom: calc(20 / 1440 * 100vw);
}

.learningStatusTable {
  width: 100%;
  border-collapse: collapse;
}

.learningStatusRow {
  display: flex;
  justify-content: space-between;
  padding: calc(8 / 1440 * 100vw) 0;
}

.learningStatusLabel {
  white-space: nowrap;
  font-size: calc(13 / 1440 * 100vw);
  font-weight: 500;
}

.learningStatusValue {
  font-size: calc(13 / 1440 * 100vw);
  font-weight: 700;
}
