.roomDetailInfoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  width: calc(500 / 1440 * 100vw);
  border: calc(1 / 1440 * 100vw) solid black;
  border-radius: calc(10 / 1440 * 100vw);
  margin-bottom: calc(10 / 1440 * 100vw);
  margin: calc(10 / 1440 * 100vw);
}

.roomDetailInfoItem h1 {
  margin: 0;
  font-size: calc(24 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif !important;
}

.DetailInfoTitle {
  margin: 0;
  font-size: calc(24 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif !important;
}

.roomDetailInfoItem p {
  margin: 0;
  font-size: calc(16 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif !important;
}


.DetailInfoInput {
  font-size: calc(16 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif !important;
}

.roomDetailInfoSetting {
  font-size: calc(20 / 1440 * 100vw) !important;
}