.roomDetailInfoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 10px;
}

.roomDetailInfoItem h2 {
  margin: 0px;
}

.roomDetailInfoItem p {
  margin: 0px;
}
