.studyEnterPageMain {
  overflow-y: auto;
  overflow-x: auto;
}
.studyEnterPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.studyEnterPageContainer h1 {
  margin-bottom: calc(20 / 1440 * 100vw);
  font-size: calc(32 / 1440 * 100vw);
}

.studyEnterPageHeader {
  padding: 0 calc(50 / 1440 * 100vw);
}

.roomDetailInfoListUpside {
  display: flex;
  justify-content: space-evenly;
}

.roomDetailInfoListDownside {
  display: flex;
  justify-content: space-evenly;
}

.studyEnterPageBody {
  display: flex;
  justify-content: space-evenly;
}

.roomDetailInfoContent {
  width: calc(500 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
}

.studyEnterPageBody h2 {
  margin-bottom: calc(10 / 1440 * 100vw);
  font-size: calc(24 / 1440 * 100vw);
  font-family: "JalnanGothic", sans-serif !important;
}

.cameraTestArea {
  width: calc(500 / 1440 * 100vw);
  padding: calc(20 / 1440 * 100vw);
}

.roomWebcamTest {
  width: calc(450 / 1440 * 100vw);
  height: calc(280 / 1440 * 100vw);
  border-radius: calc(15 / 1440 * 100vw);
  background-color: black;
}

.enterRoomPageBtn {
  width: calc(180 / 1440 * 100vw);
  height: calc(50 / 1440 * 100vw);
  align-self: center;
  font-family: "JalnanGothic", sans-serif !important;
  font-size: calc(24 / 1440 * 100vw);
  color: #ffffff;
  cursor: pointer;
  border-radius: calc(25 / 1440 * 100vw);
  background: #494949;
}
